src/main/mule/calcapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="05fcf6f0-87f5-465c-a1c1-a6836a41cb86">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="calcapiFlow" doc:id="250bb8b8-c86c-4e9d-b76d-3994d9162974" >
		<http:listener doc:name="Listener" doc:id="bb8061c7-21cc-4e3e-afc8-17e3d4d631a3" config-ref="HTTP_Listener_config" path="/Subraction"/>
		<logger level="INFO" doc:name="Logger" doc:id="00c014a6-4f84-4c08-bea8-7d6e9f8b4983" message="Empty space is being overrided now"/>
		<ee:transform doc:name="Transform Message" doc:id="a3ac25b4-60e1-45ad-9406-7060d0857633" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Subtraction":attributes.queryParams.fname - attributes.queryParams.lname
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1db24403-1eb5-4995-bb0e-976108be2e52" message='#[payload]'/>
	</flow>
</mule>
